<h1 mat-dialog-title>Bearbeite deinen Eintrag</h1>

<div mat-dialog-content class="edit-eintrag-dialog-container">
  <mat-form-field>
    <mat-label>Titel</mat-label>
    <input matInput [(ngModel)]="title">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]="username">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Passwort</mat-label>
    <input matInput [(ngModel)]="password">
  </mat-form-field>

  @if (password()) {
    <div class="password-strength">
    <span [style.color]="passwordStrength().color">
      Stärke: {{ passwordStrength().label }}
    </span>
      <div class="strength-bar" [style.width.%]="passwordStrength().score * 20"
           [style.backgroundColor]="passwordStrength().color"></div>
    </div>
  }
</div>

<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Abbrechen</button>
  <button mat-button (click)="updateEintrag()">Speichern</button>
</div>
