<h1 mat-dialog-title>Erstelle einen neuen Eintrag</h1>

<div mat-dialog-content class="create-eintrag-dialog-container">
  <mat-form-field>
    <mat-label>Titel</mat-label>
    <input matInput [(ngModel)]="title">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Benutzername</mat-label>
    <input matInput [(ngModel)]="username">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput [(ngModel)]="password">
  </mat-form-field>

  @if (password()) {
    <div class="password-strength">
    <span [style.color]="passwordStrength().color">
      Stärke: {{ passwordStrength().label }}
    </span>
      <div class="strength-bar" [style.width.%]="passwordStrength().score * 20"
           [style.backgroundColor]="passwordStrength().color"></div>
      @if (passwordStrength().score <= 3) {
        <p>Verwende:</p>
        <ul>
          <li>Gross- und Kleinbuchstaben</li>
          <li>Zahlen</li>
          <li>Sonderzeichen</li>
          <li>viele Zeichen bzw. langes Passwort</li>
        </ul>
      }
    </div>
  }

  <button mat-button (click)="generateRandomPassword()">Generiere Passwort</button>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Abbrechen</button>
  <button mat-button (click)="saveEintrag()">Speichern</button>
</div>
