<div class="header-container">
  <div class="logout-button-container">
    <button mat-raised-button id="logout-button" (click)="logout()">Logout</button>
  </div>

  <div class="searchbar-container">
    <mat-form-field>
      <mat-label>Suchkontext</mat-label>
      <input matInput [(ngModel)]="searchTerm">
      <mat-icon id="search-icon">search</mat-icon>
    </mat-form-field>
  </div>
</div>

<h1>Einträge: {{ numberOfEintraege() }} von {{ maximalNumberOfEintrage() }}</h1>

<button mat-raised-button id="toggle-favoriten-view-button" (click)="toggleFavoritenView()">
  <mat-icon>{{ showOnlyFavoriten() ? 'visibility' : 'visibility_off' }}</mat-icon>
  {{ showOnlyFavoriten() ? 'Alle anzeigen' : 'Nur Favoriten' }}
</button>

<table mat-table [dataSource]="filterEintraege()" class="mat-elevation-z8">
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let eintrag">
      <mat-icon id="delete-icon" matTooltip="delete Eintrag" (click)="openDeleteEintragDialog(eintrag)">delete</mat-icon>
      <mat-icon matTooltip="edit Eintrag" (click)="openEditEintragDialog(eintrag)">edit</mat-icon>
      {{ eintrag.title }}
    </td>
  </ng-container>

  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef> Username </th>
    <td mat-cell *matCellDef="let eintrag"> {{ eintrag.username }} </td>
  </ng-container>

  <ng-container matColumnDef="password">
    <th mat-header-cell *matHeaderCellDef> Password </th>
    <td mat-cell *matCellDef="let eintrag">
      @if (eintrag.showPassword) {
        {{ eintrag.password }}
      } @else {
        *********
      }

      <mat-icon (click)="togglePasswordVisibility(eintrag)">
        {{ eintrag.showPassword ? 'visibility_on' : 'visibility_off' }}
      </mat-icon>

      <mat-icon (click)="copyPasswordToClipBoard(eintrag.password)" matTooltip="copy Password">
        content_copy
      </mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="favorit">
    <th mat-header-cell *matHeaderCellDef> Favorit </th>
    <td mat-cell *matCellDef="let eintrag">
      <mat-icon
        (click)="toggleFavorit(eintrag)"
        matTooltip="als Favorit markieren">
        {{ eintrag.isFavorit ? 'favorite' : 'favorite_outline' }}
      </mat-icon>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

@if (filterEintraege().length === 0) {
  <app-message type="error" message="keine Einträge gefunden"/>
}

@if ((numberOfEintraege() >= 2 && numberOfEintraege() < maximalNumberOfEintrage())) {
  <app-message type="warning" message="maximale Anzahl von Einträgen fast erreicht!"/>
}

@if (numberOfEintraege() === maximalNumberOfEintrage()) {
  <app-message type="error" message="Du hast die maximale Anzahl von Einträgen erreicht!"/>
} @else {
  <button mat-raised-button matTooltip="add Eintrag" id="add-eintrag-button" (click)="openCreateEintragDialog()">
    <mat-icon>add</mat-icon>
  </button>
}
